/* https://github.com/IKKI2000/harmonyos-fonts/blob/main/css/harmonyos_sans_sc.css */

/* Thin */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://blog.lgc2333.top/assets/fonts/HarmonyOS_Sans_SC_Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://blog.lgc2333.top/assets/fonts/HarmonyOS_Sans_SC_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://blog.lgc2333.top/assets/fonts/HarmonyOS_Sans_SC_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://blog.lgc2333.top/assets/fonts/HarmonyOS_Sans_SC_Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://blog.lgc2333.top/assets/fonts/HarmonyOS_Sans_SC_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('https://blog.lgc2333.top/assets/fonts/HarmonyOS_Sans_SC_Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
