@import url('/css/fonts/index.css');

:root {
  --va-font-serif: 'HarmonyOS Sans SC', serif;
  --va-font-sans: 'HarmonyOS Sans SC', sans-serif;
  --va-font-mono: 'Victor Mono', 'HarmonyOS Sans SC', monospace;

  --smc-font-serif: var(--va-font-serif);
  --smc-font-sans: var(--va-font-sans);
  --smc-font-mono: var(--va-font-mono);

  --cp-font-family: var(--va-font-serif);
  --cp-font-family-header: var(--va-font-serif);
  --cp-font-family-header-alt: var(--va-font-serif);
  --cp-font-family-monospace: var(--va-font-mono);
}
